<div class="pagination-footer">
  <div class="pagination-left">
    <select
      class="filter-select"
      [ngModel]="pageSize"
      (ngModelChange)="onPageSizeChange($event)"
      style="width: 120px"
    >
      <option *ngFor="let size of pageSizeOptions" [value]="size">
        {{ size }} / page
      </option>
    </select>
  </div>
  <div class="pagination-right">
    <div
      class="btn btn-secondary btn-sm"
      (click)="goToPrevPage()"
      [class.disabled]="currentPage === 1"
    >
      <app-icon icon="lucide:chevron-left" size="16px"></app-icon>
    </div>
    Page {{ currentPage }} of {{ totalPages }}
    <div
      class="btn btn-secondary btn-sm"
      (click)="goToNextPage()"
      [class.disabled]="currentPage === totalPages"
    >
      <app-icon icon="lucide:chevron-right" size="16px"></app-icon>
    </div>
  </div>
</div>
